img {
  max-height: 100%;
  max-width: 100%;
}

.ship-content {
  position: relative;

  #tt1 {
    position: absolute;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background: red;
    top: 205px;
    left: 469px;
  }

  #tt2 {
    position: absolute;
    padding: 3px;
    padding-left: 13px;
    padding-right: 13px;
    background: orange;
    top: 176px;
    left: 428px;
  }
}
