img {
  max-height: 100%;
  max-width: 100%;
}

.ship-content {
  position: relative;

  #tt1 {
    position: absolute;
    top: 209px;
    left: 433px;
  }

  #tt2 {
    position: absolute;
    top: 175px;
    left: 393px;
  }
}
