<div class="mdl-layout__header-row">
  <!-- Title -->
  <span class="mdl-layout-title">{{title}}</span>
  <i class="fa fa-ship fa-3x" aria-hidden="true"></i>
  <!-- Add spacer, to align navigation to the right -->
  <div class="mdl-layout-spacer"></div>
  <!-- Navigation. We hide it in small screens. -->
  <nav class="mdl-navigation mdl-layout--large-screen-only">
    <a class="mdl-navigation__link" [routerLink]="''">Dashboard</a>
    <a class="mdl-navigation__link" [routerLink]="'ship'">Ship</a>
    <a class="mdl-navigation__link" [routerLink]="'environment'">Environment</a>
    <a class="mdl-navigation__link" [routerLink]="''">Other</a>
  </nav>
</div>
