<i class="fa fa-ship fa-5x center-element drawer-header" aria-hidden="true"></i>
<h3 class="mdl-layout-title center-element">{{title}}</h3>
<nav class="mdl-navigation">
  <a class="mdl-navigation__link" href=""><span class="drawer-content">Dashboard</span></a>
  <a class="mdl-navigation__link" href=""><span class="drawer-content">Ship</span></a>
  <a class="mdl-navigation__link" href=""><span class="drawer-content">Environment</span></a>
  <a class="mdl-navigation__link" href=""><span class="drawer-content">Other</span></a>
</nav>
